style.css
h1{
    text-align: center;
    color: red;
}
li{
    list-style-type: none;
}
a{
    text-decoration:none;
    color:inherit;
}
img{
    outline-style: ridge;
    outline-color: red;
    outline-width: 10px;
    align-items: center;
}
header{
    color:blueviolet;
}
footer{
    color:blueviolet;
}